@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

@theme {
  /* Typography*/
  --font-sans: "Figtree", sans-serif;
  --font-display: "Clash Display", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  /* Colors */
  /* base Shades */
  --color-base-50: oklch(95.9% 0.004 286.32);
  --color-base-100: oklch(91.8% 0.007 295.44);
  --color-base-200: oklch(83.18% 0.017 293.69);
  --color-base-300: oklch(75.43% 0.023 291.59);
  --color-base-400: oklch(66.44% 0.034 293.43);
  --color-base-500: oklch(57.26% 0.043 291.53);
  --color-base-600: oklch(48.98% 0.037 290.96);
  --color-base-700: oklch(40.42% 0.03 292.64);
  --color-base-800: oklch(30.43% 0.022 292.71);
  --color-base-900: oklch(20.8% 0.01 294.69);
  --color-base-950: oklch(15.22% 0.007 300.8);

  /* accent Shades */
  --color-accent-50: oklch(96.19% 0.017 286.07);
  --color-accent-100: oklch(91.18% 0.039 284.02);
  --color-accent-200: oklch(83.52% 0.077 283.79);
  --color-accent-300: oklch(74.68% 0.12 282.03);
  --color-accent-400: oklch(66.08% 0.165 280.12);
  --color-accent-500: oklch(58.54% 0.204 277.12);
  --color-accent-600: oklch(45.47% 0.274 267.93);
  --color-accent-700: oklch(37.33% 0.238 266.41);
  --color-accent-800: oklch(28.36% 0.175 267.24);
  --color-accent-900: oklch(18.08% 0.101 269.56);
  --color-accent-950: oklch(13.09% 0.065 272.75);
  /* Shadow */
  --shadow-big: 0px 7px 32px rgb(0 0 0 / 35%);
  --shadow-massive: 0px 64px 64px rgba(0, 0, 0, 0.15),
    0px 32px 32px rgba(0, 0, 0, 0.15), 0px 16px 16px rgba(0, 0, 0, 0.15),
    0px 8px 8px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* Border Radious */
  --border-radius-4xl: 2rem;
  --border-radius-5xl: 3rem;
  --border-radius-6xl: 5rem;
}

:root {
  --astro-code-color-text: var(--color-base-50);
  --astro-code-background: var(--color-base-900);
  --astro-code-token-constant: var(--color-accent-300);
  --astro-code-token-string: var(--color-base-400);
  --astro-code-token-comment: var(--color-base-50);
  --astro-code-token-keyword: var(--color-base-500);
  --astro-code-token-parameter: var(--color-base-50);
  --astro-code-token-function: theme(textColor.pink.500);
  --astro-code-token-string-expression: theme(textColor.pink.400);
  --astro-code-token-punctuation: var(--color-base-50);
  --astro-code-token-link: var(--color-base-50);
}
