<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>AwakeMode | Keep your computer awake</title>
<meta
  name="description"
  content="AwakeMode helps you keep your computer awake from the browser with timer-based wake sessions and extension-ready controls."
/>
<meta name="keywords" content="awake mode, wake lock, caffeinate alternative, keep mac awake, keep windows awake" />
<meta name="author" content="AwakeMode" />
<meta name="theme-color" content="#6f48ff" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
